{% extends "base.html" %}
{% block title %} Editer un FOURNISSEUR (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Editer un FOURNISSEUR
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_update.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form_update.nom_fournisseur_update_wtf.label }}<br>
						{{ form_update.nom_fournisseur_update_wtf(size=32) }}<br>
						{% for error in form_update.nom_fournisseur_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.email_fournisseur_wtf_essai.label }}<br>
						{{ form_update.email_fournisseur_wtf_essai(size=32) }}<br>
						{% for error in form_update.email_fournisseur_wtf_essai.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.telephone_fournisseur_wtf_essai.label }}<br>
						{{ form_update.telephone_fournisseur_wtf_essai(size=32) }}<br>
						{% for error in form_update.telephone_fournisseur_wtf_essai.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.nom_rue_adresse_wtf.label }}<br>
						{{ form_update.nom_rue_adresse_wtf(size=32) }}<br>
						{% for error in form_update.nom_rue_adresse_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.ville_fournisseur.label }}<br>
						{{ form_update.ville_fournisseur(size=32) }}<br>
						{% for error in form_update.ville_fournisseur.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.code_postal_fournisseur.label }}<br>
						{{ form_update.code_postal_fournisseur(size=32) }}<br>
						{% for error in form_update.code_postal_fournisseur.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_update.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}