{% extends "base.html" %}
{% block title %} Homepage BOISSON {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row justify-content-center align-items-center">
		<div class="col-md-12 text-center">
			<h3>
				L'INCROYABLE
			</h3>
			<h3>
				Base de données VGD<br>
			</h3>
			<img src="https://jeunessevillargiroud.files.wordpress.com/2017/12/cropped-logo-tshirt1.jpg" alt="Image" class="img-fluid" style="width: 200px; height: 200px;">
			<ul>

			</ul>
		</div>
	</div>
</div>
{% endblock %}
